---
title: Projects
slug: projects
position: 100
listed: true
published: true
is_layout: false
editable_elements:
  content/header/jumbotron: "<h1 class=\"wysiwyg-text-align-center\">Technology Management
    412</h1><h1 class=\"wysiwyg-text-align-center\">\r\n      </h1><p class=\"wysiwyg-text-align-center\">DevOps
    and the Modern IT Team</p>"
  content/main/body: "<p class=\"wysiwyg-text-align-center\">\r\n\r\n</p><div id=\"_2510688_1\"
    class=\"wysiwyg-text-align-center\"><h3 id=\"anonymous_element_14\">GROUP PROJECT
    #1: Deploy a webapp, oldstyle</h3></div><div class=\"wysiwyg-text-align-center\"><div
    class=\"vtbegenerated\"><p>The class will be divided into groups of 8-10 students
    each. These groups will be split into Dev and Ops teams. Each group is responsible
    to deliver a running Ruby on Rails webapp (<a target=\"_blank\" href=\"https://github.com/locomotivecms/engine\"
    title=\"Link: https://github.com/locomotivecms/engine\">https://github.com/locomotivecms/engine</a>)
    on Friday. The application must be modified so that the appearance of the interface
    is visibly different from the default code as published on GitHub.com. Additionally,
    since this is a CMS, there should be at least three pages with original content
    in the final product.</p><p>\r\n\r\n</p><div id=\"_2653945_1\" class=\"item clearfix\"><h3
    id=\"anonymous_element_15\">GROUP PROJECT #2: GitHub and collaboration with code</h3></div><div
    class=\"details\"><div class=\"vtbegenerated\"><p>For this project, you will use
    the same four groups from Project #1, with the change that we will no longer be
    split into Dev or Ops teams (just Team A, Team B, Team C, and Team D). The goal
    of this project is to practice the workflow of social coding — learning to collaborate
    within a group on a common set of data. Each team will deliver a simple website
    that is hosted on Github.com using the Github Pages service. Github Pages is typically
    used to host an informational website about a technical project; in this case,
    there is no technical project behind the website, but you can just write a placeholder
    file (like a<span class=\"Apple-converted-space\">&nbsp;</span><code><b>README</b></code><span
    class=\"Apple-converted-space\">&nbsp;</span>file) to have something in the<span
    class=\"Apple-converted-space\">&nbsp;</span><code>master</code>branch.</p><p>\r\n\r\n</p><div
    id=\"_2666516_1\" class=\"item clearfix\"><h3 id=\"anonymous_element_16\">GROUP
    PROJECT #3: Building an app in Ruby</h3></div><div class=\"details\"><div class=\"vtbegenerated\"><p></p><p>The
    goal of this project is to familiarize yourself with Ruby syntax, and some basic
    tasks that are common in systems programming and administration. The program will
    be invoked from the command line on a fresh Linux machine, so if you introduce
    any library dependencies beyond the Ruby Standard Library (<em><strong>not recommended</strong></em>),
    you must provide<span class=\"Apple-converted-space\">&nbsp;</span><em>very</em><span
    class=\"Apple-converted-space\">&nbsp;</span>clear instructions to recreate your
    environment. I would suggest using<span class=\"Apple-converted-space\">&nbsp;</span><strong>vagrant</strong><span
    class=\"Apple-converted-space\">&nbsp;</span>to develop in Linux if you are on
    a Windows machine. It is your responsibility to ensure the program runs as expected
    in the operational environment described. </p></div></div>\r\n\r\n\r\n\r\n<div
    id=\"_2714506_1\" class=\"item clearfix\"><h3 id=\"anonymous_element_17\">GROUP
    PROJECT #4: Deploy a webapp, DevOps style</h3><p><i>(current)</i><br></p></div><div
    class=\"details\"><div class=\"vtbegenerated\"><div class=\"page\"><div class=\"section\"><div
    class=\"layoutArea\"><div class=\"column\"><p>The class will be divided into groups
    of 5-6 students each. Each group is responsible to deliver a running Ruby on Rails
    webapp (<span class=\"Apple-converted-space\">&nbsp;</span><a target=\"_blank\"
    href=\"https://github.com/locomotivecms/engine\"><strong>https://github.com/locomotivecms/engine</strong></a><span
    class=\"Apple-converted-space\">&nbsp;</span>) on Friday, Nov 11th. The application
    must be modified so that the appearance of the interface is visibly different
    from the default code as published on GitHub.com. Additionally, since this is
    a CMS, there should be at least three pages with original content in the final
    product.</p></div></div></div></div></div></div>\r\n\r\n<br><p></p></div></div>\r\n\r\n<br><p></p></div></div><p
    class=\"wysiwyg-text-align-center\">\r\n\r\n</p>"
---
{% extends "layouts/simple" %}
