  GNU nano 2.2.6            File: contact.liquid

---
title: Contact
slug: contact
position: 99
listed: true
published: true
is_layout: false
editable_elements:
  content/main/first_column: |-
    <h2>Heading #1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, t$
  content/main/second_column: |-
    <h2>Heading #2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, t$
  content/main/third_column: |-
    <h2>Heading #3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, eges$
  content/header/jumbotron: "<p>\r\n\r\n</p><h1 class=\"wysiwyg-text-align-cent$
    Management 412</h1><h1 class=\"wysiwyg-text-align-center\">\r\n      </h1><$
    and the Modern IT Team</p>\r\n\r\n<p></p>"
  content/main/body: <p class="wysiwyg-text-align-center"><strong>John Brown&nb$
    class="wysiwyg-text-align-center">Slack - jbrown<br></p><p class="wysiwyg-t$
    Dees</strong><br></p><p class="wysiwyg-text-align-center">Slack - aarondees$
    class="wysiwyg-text-align-center"><strong>Brent Wallingford</strong><br></p$
    class="wysiwyg-text-align-center">Slack - brentwallingford<br></p><p class=$
    Sinor</strong><br></p><p class="wysiwyg-text-align-center">Slack - kathleen$
    class="wysiwyg-text-align-center"><strong>Leon Brandon</strong><br></p><p c$
    - leaonbrandon21<br></p><p class="wysiwyg-text-align-center"><strong>Ryan S$
    class="wysiwyg-text-align-center">Slack - ryanstankard<br></p>
---
{% extends "layouts/simple" %}


