---
title: Home page
slug: index
handle: home
position: 0
listed: false
published: true
is_layout: false
editable_elements:
  content/main/first_column: "<h2><strong>Course Objectives</strong></h2>\r\n  $
    completion of the course, students will have a basic understanding of the c$
    and practices behind the DevOps model of IT service delivery. This includes$
    types of work within an IT unit; systems automation and infrastructure as c$
    continuous integration/delivery of software; and the importance of communic$
    and culture within an IT group. Additionally, students will have acquired h$
    experience with a variety of tools commonly used in DevOps environments, su$
    as version control systems, virtual machines and containerization systems, $
    automation tools, and systems monitoring and reporting tools. The course wi$
    provide the opportunity to work in teams to deliver modern IT services, and$
    the DevOps model of service delivery from the inside.</p>"
  content/main/second_column: "<h2 class=\"wysiwyg-text-align-center\"><strong>$
    Mikeal</strong></h2><p class=\"wysiwyg-text-align-center\"><em>Director of $
    College of Architecture</em><span class=\"Apple-converted-space\">&nbsp;</s$
    href=\"mailto:adam@tamu.edu\" title=\"Link: mailto:adam@tamu.edu\">adam@tam$
    class=\"Apple-converted-space\">&nbsp;</span><br>(979) 862-3396<span class=$
    class=\"Apple-converted-space\">&nbsp;</span>Langford A122<span class=\"App$
    hours:</strong><span class=\"Apple-converted-space\">&nbsp;</span>T 10—12 &$
    F 1:30—3<span class=\"Apple-converted-space\">&nbsp;</span><em>or by<span c$
    </p>"
  content/main/third_column: "<h2 class=\"wysiwyg-text-align-center\"><strong>D$
    Sweeney</strong><span class=\"Apple-converted-space\">&nbsp;</span></h2><p $
    of IT, Division of Student Affairs</em><span class=\"Apple-converted-space\$
    href=\"mailto:sweeney@tamu.edu\" title=\"Link: mailto:sweeney@tamu.edu\">sw$
    class=\"Apple-converted-space\">&nbsp;</span><br>(979) 458-9201<span class=$
    class=\"Apple-converted-space\">&nbsp;</span>John J.<span class=\"Apple-con$
    class=\"Apple-converted-space\">&nbsp;</span>233X<span class=\"Apple-conver$
    hours:</strong><span class=\"Apple-converted-space\">&nbsp;</span>M 4—6 or $
    class=\"Apple-converted-space\">&nbsp;</span>appt</p><p>\r\n\r\n</p>"
  content/header/jumbotron: "<h1 class=\"wysiwyg-text-align-center\">Technology$
    412</h1><h1 class=\"wysiwyg-text-align-center\">\r\n      </h1><p class=\"w$
    and the Modern IT Team</p>"
---
{% extends 'layouts/simple' %}

{% block content/main %}

<div class="row">
  <div class="col-lg-4">
    {% editable_text first_column %}
      <h2>Heading #1</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellu$
    {% endeditable_text %}
  </div>
  <div class="col-lg-4">
    {% editable_text second_column %}
      <h2>Heading #2</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellu$
    {% endeditable_text %}
 </div>
  <div class="col-lg-4">
    {% editable_text third_column %}
      <h2>Heading #3</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas $
    {% endeditable_text %}
  </div>
</div>

{% endblock %}
