---
title: Projects
slug: projects
position: 100
listed: true
published: true
is_layout: false
editable_elements:
  content/header/jumbotron: "<h1 class=\"wysiwyg-text-align-center\">Technology$
    412</h1><h1 class=\"wysiwyg-text-align-center\">\r\n      </h1><p class=\"w$
    and the Modern IT Team</p>"
  content/main/body: "<p class=\"wysiwyg-text-align-center\">\r\n\r\n</p><div i$
    class=\"wysiwyg-text-align-center\"><h3 id=\"anonymous_element_14\">GROUP P$
    #1: Deploy a webapp, oldstyle</h3></div><div class=\"wysiwyg-text-align-cen$
    class=\"vtbegenerated\"><p>The class will be divided into groups of 8-10 st$
    each. These groups will be split into Dev and Ops teams. Each group is resp$
    to deliver a running Ruby on Rails webapp (<a target=\"_blank\" href=\"http$
    title=\"Link: https://github.com/locomotivecms/engine\">https://github.com/$
    on Friday. The application must be modified so that the appearance of the i$
    is visibly different from the default code as published on GitHub.com. Addi$
    since this is a CMS, there should be at least three pages with original con$
    in the final product.</p><p>\r\n\r\n</p><div id=\"_2653945_1\" class=\"item$
    id=\"anonymous_element_15\">GROUP PROJECT #2: GitHub and collaboration with$
    class=\"details\"><div class=\"vtbegenerated\"><p>For this project, you wil$
    the same four groups from Project #1, with the change that we will no longe$
    split into Dev or Ops teams (just Team A, Team B, Team C, and Team D). The $
    of this project is to practice the workflow of social coding — learning to $
    within a group on a common set of data. Each team will deliver a simple web$
    that is hosted on Github.com using the Github Pages service. Github Pages i$
    used to host an informational website about a technical project; in this ca$
    there is no technical project behind the website, but you can just write a $
    file (like a<span class=\"Apple-converted-space\">&nbsp;</span><code><b>REA$
    class=\"Apple-converted-space\">&nbsp;</span>file) to have something in the$
    class=\"Apple-converted-space\">&nbsp;</span><code>master</code>branch.</p>$
    id=\"_2666516_1\" class=\"item clearfix\"><h3 id=\"anonymous_element_16\">G$
    PROJECT #3: Building an app in Ruby</h3></div><div class=\"details\"><div c$
    goal of this project is to familiarize yourself with Ruby syntax, and some $
    tasks that are common in systems programming and administration. The progra$
    be invoked from the command line on a fresh Linux machine, so if you introd$
    any library dependencies beyond the Ruby Standard Library (<em><strong>not $
    you must provide<span class=\"Apple-converted-space\">&nbsp;</span><em>very$
    class=\"Apple-converted-space\">&nbsp;</span>clear instructions to recreate$
    environment. I would suggest using<span class=\"Apple-converted-space\">&nb$
    class=\"Apple-converted-space\">&nbsp;</span>to develop in Linux if you are$
    a Windows machine. It is your responsibility to ensure the program runs as $
    in the operational environment described. </p></div></div>\r\n\r\n\r\n\r\n<$
    id=\"_2714506_1\" class=\"item clearfix\"><h3 id=\"anonymous_element_17\">G$
    PROJECT #4: Deploy a webapp, DevOps style</h3><p><i>(current)</i><br></p></$
    class=\"details\"><div class=\"vtbegenerated\"><div class=\"page\"><div cla$
    class=\"layoutArea\"><div class=\"column\"><p>The class will be divided int$
    of 5-6 students each. Each group is responsible to deliver a running Ruby o$
    webapp (<span class=\"Apple-converted-space\">&nbsp;</span><a target=\"_bla$
    href=\"https://github.com/locomotivecms/engine\"><strong>https://github.com$
    class=\"Apple-converted-space\">&nbsp;</span>) on Friday, Nov 11th. The app$
    must be modified so that the appearance of the interface is visibly differe$
    from the default code as published on GitHub.com. Additionally, since this $
    a CMS, there should be at least three pages with original content in the fi$
    product.</p></div></div></div></div></div></div>\r\n\r\n<br><p></p></div></$
    class=\"wysiwyg-text-align-center\">\r\n\r\n</p>"
---
{% extends "layouts/simple" %}

